* {
  font-family: verdana;
  text-align: center;
  background-color: black;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

p {
  font-size: 21px;
  color: gray;
}

a {
  color: aquamarine;
  font-size: 16px;
}

img {
  margin: 20px auto;
}

.Footer {
  text-align: right;
  color: gray;
  margin-right: 20px;
}
